mecab-python3==0.7
nltk==3.4.5
six==1.12.0
matplotlib==3.2.1
matplotlib==3.2.1
wordcloud==1.7.0
Flask==1.1.2
simplejson==3.17.0
requests==2.23.0
flask_bootstrap==3.3.7.1
flask_cors==3.0.8
jaconv==0.2.4
networkx==2.4
dill==0.3.1.1
mongoengine==0.20.0
langdetect==1.0.8
spacy==2.2.4
sentifish==1.11.4
underthesea==1.1.17
scikit-learn==0.20.3
joblib==0.13.2
zipp==3.1.0
urllib3==1.25.9
tqdm==4.46.0
vncorenlp==1.0.3
flashtext==2.7
future==0.16.0
scipy==1.0.0
Cython==0.27.3
numpy==1.16.4
pandas==1.0.3
bs4
cachetools
pymongo
PyYAML
gunicorn==20.0.4

